/* * {
  border: 2px solid red !important;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #1f2937;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 2vw 0 2vw;
}

.header-logo {
  display: flex;
  flex: 1;
  color: white;
  font-size: 30px;
  align-items: center;
  font-weight: bolder;
}

.header-links {
  flex: 1;
  display: flex;
}

.header-links ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header-links a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}

.header-links a:visited {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}

.header-links li {
  list-style-type: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.main {
  height: 60vh;
  background-color: lightgray;
  display: flex;
  padding: 0 2vw 0 2vw;
}

.maininfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: red 2px solid;
}

#maintitle {
  font-size: 4em;
  font-weight: bold;
  color: white;
  margin: 0;
}

.mainbanner {
  width: 50%;
  border: red 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.placeholder {
  height: 60%;
  width: 75%;
  background-color: red;
}

.randominformation {
  height: 50px;
  background-color: lightblue;
}

.quote {
  height: 50px;
  background-color: lightcoral;
}

.signup {
  height: 50px;
  background-color: lightgreen;
}
