@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.header {
  background-color: #1f2937;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 7.5vw 0 7.5vw;
}

.header-logo {
  display: flex;
  flex: 1;
  color: white;
  font-size: 30px;
  align-items: center;
  font-weight: bolder;
}

.header-links {
  flex: 1;
  display: flex;
}

.header-links ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header-links a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}

.header-links a:visited {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}

.header-links li {
  list-style-type: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.main {
  height: 40vh;
  background-color: #1f2937;
  display: flex;
  padding: 7vh 7.5vw 7vh 7.5vw;
  flex-wrap: wrap;
}

.maininfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
}

#maintitle {
  font-size: 4.9em;
  font-weight: bold;
  color: white;
  margin: 0;
}

#mainbutton {
  width: 200px;
  height: 50px;
  background-color: #2563eb;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.mainp {
  font-size: 1em;
  color: white;
  margin: 0 20px 0 20px 0;
}

.mainbanner {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex: 0;
}

.placeholder {
  height: 70%;
  width: 75%;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.randominformation {
  height: 40vh;
  background-color: white;
  padding: 7vh 7.5vw 7vh 7.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maininfo,
.mainbanner {
  flex: 1 1 400px;
  min-width: 400px;
}

.randominformationcontent {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70%;
  align-items: center;
  flex-wrap: wrap;
}

.randominformationtitle {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.randomcontainers {
  display: flex;
  flex-direction: column;
  flex: 0;
}
.randomblock {
  width: 150px;
  height: 150px;
  border: #2563eb 4px solid;
  border-radius: 21px;
}

.randomtext {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  color: gray;
  font-weight: 450;
}

.quote {
  font-size: 36px;
  background-color: #e5e7eb;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-style: italic;
}

#quote2 {
  font-weight: bolder;
  color: 1f2937;
  display: flex;
  justify-self: self-end;
}

.signup {
  height: 50vh;
  margin: 1vh 0vh 1vh 0vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupcontainer {
  display: flex;
  align-items: center;
  width: 110vh;
  height: 30%;
  padding-left: 10%;
  background-color: #2563eb;
  border-radius: 10px;
}

.signupcall {
  display: flex;
  width: 120vw;
  flex-direction: column;
  color: white;
}

#signuptext1 {
  margin-bottom: 1px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-size: 2.6em;
}

#signuptext2 {
  margin-top: 1px;
}

.signupbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  appearance: none;
  outline: none;
}

.signupbutton button,
.signupbutton button:hover,
.signupbutton button:active {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  box-shadow: none;
  appearance: none;
  outline: none;
  height: 8vh;
  width: 60%;
  font-size: 2em;
  font-weight: 450;
  padding: 3px;
}

.footer {
  background-color: #1f2937;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}